.footer-container {
    height: 7.5rem;
    background-color: rgb(237, 225, 225);
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    #add {
        background-color: rgb(43, 134, 43);
        color: yellow;
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        border-radius: 50%;
    }
}
