.bottombar {
    height: 10rem;
    background-image: linear-gradient( #BFF5FD,#113CCF);


    .addcontrol{
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        background-color:#64B735;
        color:white;
        font-size: 4rem;
        margin-top: 2rem;
        text-align: center;
    }

        
}
