//Home Page Button
.ui-link{
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.3rem;
    background-color:#D3D3D3 ;
    border-radius: 50rem;
    color: navy;
    font-weight: 500;
    width:12rem;

}
